


<div class="frames">

  <div class='content-container'>
  <%= form_tag mresults_path do %>
    <%= text_field_tag :searchterm, "", class: 'text-field', autofocus: true, placeholder: 'SEARCH' %>
    <%= submit_tag "SUBMIT", class: 'btn-large btn-thin' %>
  <% end %>
    <br>
  <% if flash[:message] %>
    <div class="flash"><%= flash[:message]%></div>
  <% end %>
  </div>




  <iframe class="iframe" src="/mytop5" width="140" height="1320" frameBorder="0" scrolling="no" frameBorder="0" bgcolor="#38322f">
  </iframe>

</div>
