


<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>
<div class='content-container'>
<%= form_tag mresults_path do %>
  <%= text_field_tag :searchterm, "", class: 'text-field', autofocus: true, placeholder: 'Search by title' %>
  <%= submit_tag "Submit", class: 'btn-large btn-thin' %>
<% end %>
</div>
