<h1>Movies#index</h1>


<p>search results</p>

<% @results["Search"].each do |put| %>
    <img src= "<%= put["Poster"]%>">
<a href="/mresults/<%= put["imdbID"]%>">
    <p><%= put["Title"]%></p>
    <p>(<%= put["Year"]%>)</p>
</a>


<% end %>
