
<!-- list the movies that are in users top 5 -->


<div class='top5-list'>
  <h3><%= @user.username %></h3>
<% current_user.movies.where(:top5 => true).each do |put| %>
  <a href="/mresults/<%= put.id %>">
    <img class='top5-images' src="<%= put.imgurl %>">
  </a>
  <%= button_to "remove from list", {:controller => 'movies', :action => 'remove_from_top', :id => put.id } %>
<% end %>
</div>
