body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fcf7c7;
}



/*/////////////////////////////////////
BUTTONS
/////////////////////////////////////*/

.btn-addto5 {
  color: #ddd;
  width: 150px;
  background: #fcf7c5;
  border: 2px solid #ddd;
  padding: 5px;
  margin: 5px 0 15px 0;
  border-radius: 3px;
  font-size: 11px;
  cursor: pointer;
}

.btn-large {
  color: white;
  width: 250px;
  background: #13747d;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
  cursor: pointer;
}

.btn-small {
  width: 100px;
  height: 40px;
  background: #fcf7c5;
  border: 2px solid #ddd;
  padding: 2px;
  margin: 23px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.btn-small a:link, .btn-small a:active,  .btn-small a:visited, .btn-small a:hover {
  text-decoration: none;
  color: #ddd;
}

.btn2{
  background: #0abfbc;
}

.btn-thin{
  width: 90px;
  margin: 0;
}

input.text-field, placeholder {
  color: #ccc;
}

input.text-field, textarea {
  background : white;
  color: black;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.text-field {
  width: 230px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 15px;
}


.off{
  opacity: 0;
}



/*/////////////////////////////////////
LAYOUT
/////////////////////////////////////*/

.header {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.content-container{
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}

.top5-images {
  margin: 0 10px 10px 0;
  width: 120px;
  height: 170px;
}

.list-all-separately{
  display: flex;
  flex-flow: column;
  padding: 10px;
  border-right: solid 8px #ccc;
}

.top5-list-global{
  display: flex;
}

.top5-list{
  display: flex;
  flex-flow: column;
}

.search-images {
  border-radius: 3px;
  margin: 0 15px 0 0;
  width:150px;
  height: 225px;
  box-shadow: 2px 2px 3px #ddd;
}

.search-layout{
  margin-top: 30px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

}
.movie-layout{
  text-align: left;
  display:flex;
  flex-flow: column;
}



/*/////////////////////////////////////
TEXT
/////////////////////////////////////*/



a:link, a:active, a:visited, a:hover {
  text-decoration: none;
}

h1 {
  color: #29221f;
  padding-top: 0;
  letter-spacing: -1px;
  text-align: center;
  font-weight: 700;
}

h1 span{
  color: #ccc;
}

h2 {
  padding-top: 0;
  text-align: center;
  font-weight: 700;
}
