body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #eee;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.header {
  margin: -10px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.header button{
  margin: 20px;
font-size: 14px;
padding: 8px 14px;
background: rgb(59, 127, 166);
color: white;
border: none;
border-radius: 3px;
margin-top: 20px;
margin-right: 10px;
}

h1 {
  padding-top: 70px;
  letter-spacing: -2px;
  text-align: center;
  font-weight: 700;
  line-height: -30px;
}
h2 {

  letter-spacing: 2px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

#search-container{
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}

.top5-images {
  margin: 0 10px 10px 0;
  width:150px;
  height: 210px;
}
.top5-list{
  display: flex;
  flex-flow: column;
}

.search-images {
  margin: 0 10px 10px 0;
  width:200px;
  height: 285px;
}
