body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fcf7c7;
}

.frames{
  display: flex;
}

.iframe{
  border-left: 3px dashed #3a3431;
  position: absolute;
  right: 0;
  top: -333px;
}
.stretch{
  height: 1500px;
  width: 160px;
  background:url('movie_placeholder.jpg');
  background-position: -21px 66px;
  background-repeat: no-repeat;
  background-color: #38322f;
}

.stretch-users-global{
  background-color: #13747d;
  height: 720px;
  width: 3000px;
}

.flash{
  margin: 30px 150px;
  font-size: 70px;
  line-height: 1;
  font-weight:800;
  color: #e5e1b7;
 font-family: 'Teko', sans-serif;
}



/*/////////////////////////////////////
BUTTONS
/////////////////////////////////////*/


.btn-addto5 {
  font-family: 'Teko', sans-serif;
  position: absolute;
  color: #0abfbc;
  width: 40px;
  background: #fcf7c5;
  border: 2px solid #0abfbc;
  padding: 5px 5px 2px 5px;
  margin: -235px 0 15px 5px;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-addto5:hover {
  background: #0abfbc;
  color: white;
}


.btn-remove-from5 {
  font-family: 'Teko', sans-serif;
  position: absolute;
  color: #0abfbc;
  width: 22px;
  background: #fcf7c5;
  border: 2px solid #0abfbc;
  padding: 1px 2px 0 2px;
  margin: -162px 0 15px 5px;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-remove-from5:hover {
  background: #0abfbc;
  color: white;
}


.btn-large {
  font-family: 'Teko', sans-serif;
  color: white;
  width: 250px;
  background: #13747d;
  padding: 5px 5px 0 5px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-large:hover{
  background: #0abfbc;
}


.btn2{
  background: #0abfbc;
}

.btn-thin{
  width: 90px;
  margin: 0;
}

.top-flex{
  top: 0;
  position: absolute;
  display: flex;
}
.btn-logout {
  font-family: 'Teko', sans-serif;
  width: 80px;
  height: 35px;
  background: #fcf7c5;
  border: 2px solid #d0cca2;
  padding: 3px 2px 0 2px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.btn-small-showpage {
  font-family: 'Teko', sans-serif;
  width: 160px;
  height: 40px;
  background: #fcf7c5;
  border: 2px solid #d0cca2;
  padding: 3px 3px 3px 3px;
  margin: 15px 20px 0 0;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  color: #d0cca2;
  transition: all 0.2s ease;
}

.btn-small-showpage a:link,
.btn-small-showpage a:active,
.btn-small-showpage a:visited {
  text-decoration: none;
  color: #d0cca2;
}

.btn-small-showpage:hover {
  background: #3a3431;
  border: 2px solid #3a3431;
}

.btn-small {
  font-family: 'Teko', sans-serif;
  width: 160px;
  height: 40px;
  background: #fcf7c5;
  border: 2px solid #d0cca2;
  padding: 3px 3px 3px 3px;
  margin: 25px 0 0 0;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-small:hover, .btn-logout:hover{
  background: #3a3431;
  border: 2px solid #3a3431;
}

.btn-logout a:link, .btn-logout a:active,  .btn-logout a:visited {
  text-decoration: none;
  color: #d0cca2;
}

.btn-small a:link, .btn-small a:active,  .btn-small a:visited{
  text-decoration: none;
  color: #d0cca2;
}



input.text-field, placeholder {
  font-family: 'Teko', sans-serif;
  color: #d0cca2;
}

input.text-field, textarea {
  font-size: 25px;
  background : white;
  color: black;
  font-variant: all-small-caps;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.text-field {
  width: 230px;
  padding: 5px 5px 0 17px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #d0cca2;
  font-size: 15px;
}


.off{
  opacity: 0;
}



/*/////////////////////////////////////
LAYOUT
/////////////////////////////////////*/

.header-area {
  margin-top: 90px;
  width: 100%;
  text-align: center;
}

.title-position{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 140px;
}

.content-container{
  margin-top: 20px;
  margin-left: 40px;
  padding-right: 140px;
  margin: 0 auto;
  text-align: center;;
  max-width: 900px;
}

.home-background{
  height: 1100px;
  background:url('home_background.jpg');
  background-position: 0 215px;
  background-repeat: no-repeat;
}

.reg{
  background-position: 0 345px;
}

.login-container{
  margin-top: 20px;
  margin-left: 40px;
  margin: 0 auto;
  text-align: center;;
  max-width: 900px;

}
.show-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
  text-align: center;;
  max-width: 900px;
}
.show-poster{
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #bab689;
  box-shadow: 2px 2px 3px #dbd59d;
}

.show-details{
  line-height: 1;
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  margin-left: 20px;
  text-align: left;
  width: 200px;
  color: #999;
  letter-spacing: .3px;
}

.show-details span {
  color: black;

}
.top5-list-global{
  display: flex;
  margin-bottom: 10px
}

.list-all-separately{
  display: flex;
  flex-flow: column;
  padding: 15px 20px;
  border-right: dashed 2px #fcf7c5;
}

.top5-images-global {
  margin: -16px 0 19px 0;
  width: 80px;
  height: 115px;
  border-radius: 3px;
  border: 1px solid #29221f;
  box-shadow: 2px 2px 3px #29221f;
  transition: all 0.2s ease-in-out;
}
.top5-images-global:hover{
  transform: scale(1.08);
}

.top5-images {
  margin: 0 0 9px 0;
  width: 100px;
  height: 150px;
  border-radius: 3px;
  border: 1px solid #29221f;
  box-shadow: 2px 2px 3px #29221f;
  transition: all 0.2s ease-in-out;
}
.top5-images:hover{
  transform: scale(1.08);
}

.top5-list{
  margin-left: 30px;
  display: flex;
  flex-flow: column;
}

.search-images {
  border-radius: 3px;
  margin: 0 15px 10px 0;
  width:150px;
  height: 225px;
  box-shadow: 2px 2px 3px #ddd;
  transition: all 0.2s ease-in-out;
}
.search-images:hover{
  transform: scale(1.02);
}


.search-layout{
  margin-top: 30px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

}
.movie-layout{
  text-align: left;
  display:flex;
  flex-flow: column;
}



/*/////////////////////////////////////
TEXT
/////////////////////////////////////*/
.local-username{
  font-size: 20px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1px;
  line-height:20px;
  margin: 0;
  padding: 22px 0 10px 0;
  color: #fcf7c5;
}

.global-username{
  font-family: 'Teko', sans-serif;
  letter-spacing: 1px;
  line-height:16px;
  margin: 0;
  padding: 0;
  color: #fcf7c5;
}

a:link, a:active, a:visited {
  text-decoration: none;
}

.small-text{
  margin: 0;
  font-size: 12px;
  color: #d3cfa3;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
  cursor: pointer;
}

.small-text a:link,
.small-text a:active,
.small-text a:visited{
  text-decoration: none;
  color: #d3cfa3;
}



h1 {
  font-family: 'Teko', sans-serif;
  font-size:45px;
  color: #787557;
  padding-top: 0;
  margin: 30px;
  letter-spacing: 0px;
  text-align: center;
  font-weight: 900;
  line-height: 38px;
}

h1 span{
  color: #b21729;
}

h2 {
  margin: 0;
  padding-top: 0;
  text-align: center;
  font-weight: 700;
  color: #d3cfa3;
}
